.center-text {
  text-align: center;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mtop-10 {
  margin-top: 10px;
}

.text-field-margin {
  margin: 15px;
}
